* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    color: white;
}
@media (max-width: 600px) {
    .bg-motion {
        filter: blur(6px);
    }
}


.sub {
    text-align: center;
    font-size: 13px;
    opacity: 0.75;
    letter-spacing: 0.5px;
    margin-bottom: 14px;
}

/* Card */
.card {
    width: fit-content;
    min-width: 360px;
    padding: 20px;
    border-radius: 24px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
}


/* Top layout */
.top {
    display: flex;
    gap: 16px;
}

/* Avatar */
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #22d3ee;
    object-fit: cover;
}

/* Right side */
.right {
    flex: 1;
}

/* Quote */
.quote {
    font-size: 13px;
    line-height: 1.4;
    color: #e5e7eb;
    margin-bottom: 10px;
}

/* Icons row */
.icons {
    display: flex;
    gap: 10px;
}

.icons a {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #22d3ee;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #22d3ee;
    text-decoration: none;
    font-size: 14px;

    transition: 0.2s;
}

.icons a:hover {
    background: #22d3ee;
    color: #020617;
}

/* Name */
.name {
    margin-top: 18px;
    font-size: 16px;
    font-weight: bold;
}

/* =========================
   MOBILE RESPONSIVE
   ========================= */
@media (max-width: 600px) {

    body {
        padding: 16px;
    }

    .card {
        width: 100%;
        min-width: unset;
        padding: 16px;
        border-radius: 18px;
    }

    .top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .avatar {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 32px;
    }

    .quote {
        font-size: 13px;
    }

    .icons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .icons a {
        width: 34px;
        height: 34px;
        font-size: 16px;
    }

    .name {
        font-size: 15px;
    }
}
